*.iml
.gradle/
.idea/
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
app/build/
*.jks
*.keystore
keystore.properties
/local/
# Personal copyright-controlled content for private APK builds only.
app/src/main/assets/private_novels.zip
